/* src/App.css */
/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Noto+Sans+Warang+Citi:wght@400&display=swap');

body {
  font-family: 'Inria Sans', sans-serif;
}


html, body {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

